.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 100px;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}