.formControl {
    margin-bottom: 20px;
}

.error {
    color: red;
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea {
    display: block;
    width: 300px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
}